<!doctype html>
<title>BarkShin</title>
<link rel="stylesheet" href="/static/master.css">

<h1>Barking your shins</h1>
<hr id="stripe">

<h2>links</h2>
<ul>
    <li><a href="/json">/json</a> (JSON sample)</li>
    <li><a href="/auth">/json</a> (JWT Authentication endpoint)</li>
    <li><a href="/foo">/foo</a> (404)</li>
    <li><a href="/badRequest">/badRequest</a> (400)</li>
    <li><a href="/generalError">/generalError</a> (500)</li>
    <li><a href="/protected">/protected</a> (401)</li>
</ul>

<p class:"about">This is a basic program that simply provides convenient responses to test mocking libraries, API connections, etc.
The code for this application is available under the Apache license and can be found on github at <a href="https://github.com/heckj/barkshin">heckj/barkshin</a>.
</p>

